@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Permanent+Marker&display=swap');
body{
    margin: 0;
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: coral;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;

}